.fw500 {
    font-weight: 500;
}

.home {
    margin: 0 auto;
    height: 100%;
}

.top-bar {
    margin: 0 auto;
    position: fixed;
    z-index: 9;
    background: white;
    width: 100%;
}

.top-bar {
    /* display: flex; */
    /* margin-top: 20px; */
}

.auth {
    margin-left: auto;
}

#menu {
    width: 100%;
    box-shadow: 0 0 20px black;
    display: flex;
    align-items: center;
    position: relative;
}

#menu-logo {
    display: inline-block;
}
#menu-title {
    width: 100%;
    display: flex;
}
.paragraphs {
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.paragraphs > span {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}
.paragraphs > span:hover,
.p-h-span {
    background-image: linear-gradient(90deg, #009fe0, #e31e25);
    color: white;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#logo-animate {
    margin: 0 auto;
    animation: b 0.5s ease-in-out infinite;
    display: block;
}
  
@keyframes b {
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  10% {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.feed-block {
    color: black;
}
.about-p-background,
.partners-p-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    background-color: grey;
    transition: opacity 1s ease-in-out;
}

.footer {
    font-size: 14px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}
.social a {
    display: inline-block;
    background-size: 100%;
    cursor: pointer;
    z-index: 2;
    position: relative;
}
.in-before,
.fb-before,
.vk-before {
    position: absolute;
    z-index: 1;
}
.in:hover ~ .in-before,
.fb:hover ~ .fb-before,
.vk:hover ~ .vk-before {
    background-image: linear-gradient(90deg, #009fe0, #e31e25);
}
.in {
    background-image: url(/images/instagram.svg);
}
.fb {
    background-image: url(/images/facebook.svg);
}
.vk {
    background-image: url(/images/vk.svg);
}
.email a {
    color: black;
    text-decoration: none;
}
.email a:hover {
    color: #009fe0;
    text-decoration: underline;
}

.menu-btn {
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}
.menu-btn > span {
    margin-top: 20px;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    background-color: black;
    transition-duration: .25s;
}
.menu-btn > span::before {
    content: '';
}
.menu-btn > span::after {
    content: '';
}

#menu-toggle {
    display: none;
}
#menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu-toggle:checked ~ .paragraphs {
    visibility: visible;
    opacity: 1;
}

.about-p,
.partners-p {
    position: relative;
}

.about-p,
.operations-p,
.partners-p {
    display: flex;
    align-items: center;
    height: 100vh;
}
.about-p div,
.operations-p div,
.partners-p div {
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 50%;
    padding: 0 20px;
    font-size: 18px;
}
.operations-p img {
    width: 50%;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    #menu-title {
        margin: 0;
    }
    #menu-title .t {
        font-size: 14px;
    }
    .paragraphs {
        margin: 127px 0 0 0;
        padding: 0 50px;
    }
}
@media screen and (min-width: 501px) and (max-width: 600px) {
    #menu-title {
        margin: 0 5px 0 5px;
    }
    #menu-title .t {
        font-size: 20px;
    }
    .paragraphs {
        margin: 127px 0 0 5px;
        padding: 0 55px;
    }
}
@media screen and (max-width: 600px) {
    .top-bar {
        height: 50px;
    }
    #menu-logo {
        width: 50px;
        height: 50px;
    }
    #menu, #menu img {
        height: 50px;
    }
    #menu img {
        padding: 5px;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .social {
        text-align: center;
    }
    .social a,
    .in-before,
    .fb-before,
    .vk-before {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    .in-before,
    .fb-before,
    .vk-before {
        margin-left: -40px;
    }
    .fb,
    .vk {
        margin-left: 10px;
    }
    .menu-btn {
        margin: -2px 0 0 0;
    }
    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        width: 30px;
        height: 3px;
    }
    .menu-btn > span::before {
        top: -8px;
    }
    .menu-btn > span::after {
        top: 8px;
    }
}
@media screen and (min-width: 601px) {
    #menu-title {
        margin: 0 30px 0 30px;
    }
    #menu-title .t {
        font-size: 30px;
    }
    .top-bar {
        height: 100px;
    }
    #menu-logo {
        width: 100px;
        height: 100px;
    }
    #menu, #menu img {
        height: 100px;
    }
    #menu img {
        padding: 10px;
    }
    .footer {
        align-items: center;
    }
    .social a,
    .in-before,
    .fb-before,
    .vk-before {
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
    .in-before,
    .fb-before,
    .vk-before {
        margin-left: -30px;
    }
    .fb,
    .vk {
        margin-left: 5px;
    }
    .links {
        margin-left: 5%;
    }
    .menu-btn {
        margin: 0 0 0 0;
    }
    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        width: 40px;
        height: 3px;
    }
    .menu-btn > span::before {
        top: -10px;
    }
    .menu-btn > span::after {
        top: 10px;
    }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
    .paragraphs {
        margin: 150px 0 0 30px;
        padding: 0 130px;
    }
}
@media screen and (max-width: 1000px) {
    #menu-title .t {
        width: 90%;
    }
    .feed-block {
        padding: 0 5%;
    }
    .about-p-background {
        margin-left: -5%;
    }
    .footer {
        padding: 0 5%;
    }
    .paragraphs {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        flex-direction: column;
        background: white;
        width: 100%;
        font-size: 18px;
        box-shadow: 0 15px 20px -15px black;
    }
    .paragraphs span {
        margin: 10px 0;
    }
    #menu-title {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1001px) {
    .feed-block {
        padding: 0 130px;
    }
    .about-p-background,
    .partners-p-background {
        margin-left: -130px;
    }
    .footer {
        padding: 0 130px;
    }
    .menu-btn {
        display: none;
    }
}
@media screen and (min-width: 1001px) and (max-width: 1300px) {
    #menu-title {
        flex-direction: column;
    }
    .paragraphs {
        margin-top: 10px;
    }
}
@media screen and (max-width: 1300px) {

}
@media screen and (min-width: 1301px) {
    #menu-title {
        flex-direction: row;
        align-items: baseline;
    }
    .paragraphs {
        margin-left: auto;
    }
}